/* Import Bootstrap */
@import '../node_modules/bootstrap/scss/bootstrap';
/* Import Bootstrap Icons */
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

/* Global Styles */
html,
body {
    height: 100%;
}